<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/main.css">
</head>
	<br/>
	<br/>
<footer>
	<nav>
		<ul>
			<li><a href="index.ejs">welcome</a></li>
			<li><a href="/user/show.ejs">my rewards</a></li>
			<li><a href="/accomp/index.ejs">accomplishments</a></li>
		</ul>
	</nav>
</footer>
</html>