* {
	font-family: 'Raleway', sans-serif;
	margin 0;
	padding 0;
	text-align: center;
}

body {
	/*background-image:;*/
	background-size: 1400px 1000px;
	color: grey;
	font-size: 16px;
	padding: 0;
}

header {
	height: 3em;
	margin-bottom: 0;
    top: 0;
    width: 100%;
    z-index: -1
}

h1 {
	text-align: center;
	margin-top: 0.35em;
}

.container {
	text-align: center;
	margin: 100px 0px 10px 0px;
	height: 100px;
	width: 100%;
	border-width: 1px;
}

#message-board {
	width: 100%;
	height: 20px;
	margin-top: -1em;
	padding: 1em;
	text-align:center;
}

#chart {
	width: 70%;
	height: 500px;
	margin-left: 2em;
	/*border: solid grey 1px;*/
	float: left;
}

#sticker-container {
	width: 23%;
	height: 481px;
	margin-right: 2em;
	border: solid grey 1px;
	float: right;
}

#dataset-select-container {
	position: fixed;
	top: 0;
	right:5em;

}

#delete-container {
/*	position: fixed;*/
	bottom: 3 em;
	right:5em;

}

.square {
	width: 19%;
	height: 159px;
	border: solid grey 1px;
	float:left;
}

ul li {
	text-decoration: none;
	display: inline-block;
	margin: 0px 50px 0px 50px;

}
footer {
	position: fixed;
	bottom:0;
	width: 100%;
}

