* {
	font-family: 'Raleway', sans-serif;
	margin 0;
	padding 0;
	text-align: center;
}

html {
	margin: 0;
	padding: 0;
	min-height: 100%; 
}

h1 {
	color:#212121;
	font-weight: bold;
}
body {
	/*background-color: #F4511E;*/
	background-image: url('/img/champchart_back.png');
	background-size: cover;
	background-position: center;
	background-size: 1400px 1000px;
	color: #212121;
	font-size: 16px;
	margin: 20px 0px 0px 0px;
	padding: 0;	
}

header {
	height: 4em;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -1
}

input {
	background-color: #FFF3E0;
	box-shadow: 5px 5px 2px #424242;
}

h1 {
	text-align: center;
	margin-top: 0.35em;
}

.container {
	text-align: center;
	margin: 100px 0px 10px 0px;
	height: 100px;
	width: 100%;
}

#data-select {
	background-color: #FFF3E0;
	box-shadow: 5px 5px 2px #424242;
}

button {
	background-color: #00BFA5;
	box-shadow: 5px 5px 2px #424242;
	border-radius: 4px;
}

button:hover {
	transform: scale(1.1);
	background-color: #FFD45F;
}

ul li{
	color:#212121;
	text-decoration: none;
	display: inline-block;
	margin: 0px 20px 0px 10px;
}

footer {
  position: fixed;
  bottom:0;
  width: 100%;
}
