<!DOCTYPE html>
<html>
<head>
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
	<script type="text/javascript"src="/js/user.js"></script>
	<link rel="stylesheet" type="text/css" href="css/welcome.css">
	<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
	<title></title>
</head>
<body>
	<header>
		<h1>ChampChart</h1>
	</header>
<body>
	<div class="container" id="login">
		<h3>already a champ?</h3>
			<h4>login</h4>
			<form action="/user/login" method="POST">
				<input type="text" name="email" placeholder="email">
				<input type="password" name="password" placeholder="password">
				<br/>
				<br/>
				<input type="submit">
			</form>
	</div>
		<br/>
	<div class="container" id="signup">
		<h3> not a champ yet?</h3>
			<h4>signup</h4>
			<form action="/user" method="POST">
				<input type="text" name="username" placeholder="username">
				<input type="text" name="email" placeholder="email">
				<input type="password" name="password" placeholder="password">	
				<br/>	
				<br/>		
				<input type="submit">
			</form>
		<br/>
	</div>
		<br/>
		<br/>
		<br/>
	<div id="dataset-select-container">
		<h4 id="user-name">see another champ's chart</h4>
		<select id="dataset-select">
			<option value=""/>-------</option>
			<% for (var i=0; i < user.length; i ++) { %>
				<option value="<%=user.id %>"><%= user.username %></option>
			<% } %>
		</select>					
	</div>
	<footer>
		<nav>
			<ul>
				<li><a href="/user/index.ejs">champs</a></li>
				<li><a href="/user/:id">my champchart</a></li>
				<li><a href="/accomp">stickers</a></li>
			</ul>
		</nav>
	</footer>
</body>
</html>