<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/css/accomp.css">
	<script type="text/javascript"src="/js/accomp.js"></script>
	<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
	<title>stickers</title>
</head>
<body>
	<header>
		<h2>sticker board</h2>
	</header>
	<div id="sticker-container">
		<h4 id="sticker-board">click on a sticker</h4>
			<ul>
				<% for (var i = 0; i < accomp.length; i++) { %>
				<li>
					<br/>
					<a href="/accomp/<%=accomp[i].id%>">
					<img src="<%=accomp[i].img%>"></a>
				</li>
				<% } %>
			</ul>
    </div>
    <div id="wrapper">
	    <div id="create-sticker">
	   		<h4 id="name">create your own stickers</h4>
	   			<form action= "/accomp" method= "POST">
					<input type= "text" name= "name" placeholder= "sticker name">
					<br>
					<input type= "text" name= "descr" placeholder= "description">
					<br>
					<input type= "text" name= "img" placeholder= "attach imageURL">
					<br/>
					<br/>
					<button> create </button>
				</form>
	   	</div>	 
	   	<br/>
	   	<br/>
	   	<div id="delete">
	   		<h4>delete stickers</h4>
	   		<div class="dropdown">
  				<button onclick="myFunction()" class="dropbtn">delete</button>
  				<div id="myDropdown" class="dropdown-content">
  					<% for (var i=0; i < accomp.length; i++) { %>
						<a><%=accomp[i].name %></a>
							<form action="/accomp/" method="POST">
								<input type="hidden" name="_method" value="DELETE">
								<button id="delete-button">delete</button>
							</form>
					<% } %>
				 </div>
			</div>				   
		</div>
	</div>
    <footer>
		<a href="/user">login</a>			
		<a href="/user/:id">champs</a>
		<a href="/accomp">stickers</a>
		<a href="/user/logout" class="btn btn-default btn-sm">Logout</a>
	</footer>
</body>
</html>

</body>
</html>