<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="">
	<title>accomplishments</title>
</head>
<body>
	<header>
		<%include header_partial.ejs%>
	</header>
	<div id="accomp_container">
		<% for (var i=0; i<data.length; i++){ %>
        <li><a href= /accomp/<%= [i] %>><%= data[i].name%></a></li>
      	<% } %>
    </div>
</body>
</html>